<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Controle Acadêmico - Gerenciar Cursos - Cadastro</title>
		
		<style>
			.label-style {
				margin-right: 5px;
			}
			.div-margin {
				margin: 5px;
			}
		</style>
	</h:head>
	<h:body>
		<h2>Controle Acadêmico - Gerenciar Cursos - Cadastro</h2>
		
		<h:form>
			<div class="div-margin">
				<h:outputLabel for="codCurso" value="COD" styleClass="label-style"></h:outputLabel>
				<h:inputText id="codCurso" required="true" requiredMessage="Campo obrigatório" value="#{cursoBean.curso.codigo}"></h:inputText>
			</div>
			
			<div class="div-margin">
				<h:outputLabel for="nomeCurso" value="Nome" styleClass="label-style"></h:outputLabel>
				<h:inputText id="nomeCurso" required="true" requiredMessage="Campo obrigatório" value="#{cursoBean.curso.nome}"></h:inputText>
			</div>
			
			<div class="div-margin">
				<h:outputLabel for="tipoCurso" value="Tipo" styleClass="label-style"></h:outputLabel>
				<h:selectOneMenu id="tipoCurso" required="true" requiredMessage="Campo obrigatório" value="#{cursoBean.idTipoCursoSelecionado}">
					<f:selectItem itemValue="" itemLabel="Selecione"></f:selectItem>
					<f:selectItems value="#{tipoCursoBean.tiposCurso}" var="tipo" itemLabel="#{tipo.nome}" itemValue="#{tipo.id}"></f:selectItems>
				</h:selectOneMenu>
			</div>
			
			<div class="div-margin">
				<h:outputLabel for="nivelCurso" value="Nível"></h:outputLabel>
				<h:selectOneMenu id="nivelCurso" required="true" requiredMessage="Campo obrigatório" value="#{cursoBean.idNivelCursoSelecionado}">
					<f:selectItem itemValue="" itemLabel="Selecione"></f:selectItem>
					<f:selectItems value="#{nivelCursoBean.niveisCurso}" var="nivel" itemLabel="#{nivel.nome}" itemValue="#{nivel.id}"></f:selectItems>
				</h:selectOneMenu>
			</div>
			
			<h:commandButton action="#{cursoBean.salvar}" value="Confirmar"></h:commandButton>
		</h:form>
	</h:body>
</html>