<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Controle Acadêmico - Gerenciar Cursos</title>
	</h:head>
	<h:body>
		<h2>Controle Acadêmico - Gerenciar Cursos</h2>
		
		<h:link outcome="cadastrar_curso" value="Cadastrar Novo"></h:link>
		<br /><br />
		<h:form id="formCursos">
			<h:dataTable value="#{cursoBean.cursos}" var="curso" border="1">
				<h:column>
					<!-- Cabeçalho -->
					<f:facet name="header">Nome do Curso</f:facet>
					
					<!-- Valor -->
					#{curso.nome}
				</h:column>
				<h:column>
					<f:facet name="header">Ações</f:facet>
					<h:commandLink action="#{cursoBean.prepararEditar(curso)}" value="Editar" style="margin:5px;"></h:commandLink>
					<h:commandLink action="#{cursoBean.remover(curso.id)}" value="Excluir" style="margin:5px;"></h:commandLink>
				</h:column>
			</h:dataTable>
		</h:form>
	</h:body>
</html>